<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>
        QUESTIONS!
    </h1>
    <hr>
    <h3>Questions List</h3>

    <p>Name: <%= name %></p>
    <p>Language: <%= lang %></p>
    <p>Enterprise: <%= enterprise %></p>
    <p>Number of subscribers: <%= subscribers %></p>


    <% if(msg == true){ %>
        <h3>this is an error message</h3>
    <%} else { %>
        <h3>no error!</h3>
    <%}%>

    <% products.forEach(function(product) { %>
        <hr>
        <h4><%= product.name %></h4>
        <h5><%= product.price %></h5>
    <% }) %>

</body>
</html>